.App {
  text-align: center;
}
.layout-bg {
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
}
.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
